
<div class="container-fluid">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#page-list">
                    <span class="icon-bar white"></span>
                    <span class="icon-bar white"></span>
                    <span class="icon-bar white"></span>
                </button>
                <a class="navbar-brand" href="#">Home Page</a>
            </div>
            <div class="collapse navbar-collapse" id="page-list">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#!/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                </ul>
                <ul class="navbar navbar-nav">
                </ul>
            </div>
        </div>
    </nav>

    <h1>Login</h1>

    <div ng-show="model.message" class="alert alert-danger">
        {{model.message}}
    </div>

    <label for="username">Username</label>
    <input ng-model="model.user.username"
           id="username"
           type="text"
           class="form-control"/>

    <label for="password">Password</label>
    <input ng-model="model.user.password"
           id="password"
           type="password"
           class="form-control"/>

    <a ng-click="model.login(model.user.username, model.user.password)"
       class="btn btn-block btn-info">
        Login
    </a>

    <a href="/auth/project/google"
       class="btn btn-danger btn-block">
        <span class="fa fa-google-plus"></span>
        Google
    </a>

    <a href="/auth/project/facebook"
       class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>

    <a href="#!/register"
       class="btn btn-block btn-success">
        Register
    </a>
</div>

