
<div class="container-fluid">

    <nav class="navbar bg-primary navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-text pull-left fixed-left"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                    <div class="glyphicon glyphicon-chevron-left white"></div>
                </a>
                <a class="navbar-brand white page-title">
                    <b>Search Flickr</b>
                </a>
            </div>
        </div>
    </nav>

<div class="input-group" style="padding-top:50px">
    <input ng-model="searchText" type="text" class="form-control" placeholder="Search images">
    <span class="input-group-btn">
        <a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
</div>

<div class="row">
    <div class="col-xs-4" ng-repeat="photo in model.photos.photo">
        <img ng-click="model.selectPhoto(photo)"
             src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
    </div>
</div>
</div>

<nav class="navbar bg-primary navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-text">
            <a href=#!/user/{{model.userId}}>
                <span class="glyphicon glyphicon-user white"></span>
            </a>
        </div>
    </div>
</nav>
