<!DOCTYPE html>

<body>


<div class="container-fluid">
    <h1></h1>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" class="form-control" id="text">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="url" class="form-control" id="url">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input type="number" class="form-control" id="width">
        </div>
    </form>
</div>


</body>