<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-text pull-left fixed-left"
               href=#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget>
                <div class="glyphicon glyphicon-chevron-left black"></div>
            </a>
            <a class="navbar-brand darkgrey page-title">
                <b>Widget Edit</b>
            </a>
            <a class="navbar-text pull-right fixed-right"
               href=#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget>
                <div class="glyphicon glyphicon-ok black"></div>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-switch="model.widget.widgetType">
        <div ng-switch-when="HEADING">
            <ng-include src="'views/widget/templates/widget-heading-edit.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include src="'views/widget/templates/widget-youtube-edit.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src="'views/widget/templates/widget-image-edit.view.client.html'"></ng-include>
        </div>
    </div>

    <div>
        <a class="btn btn-success btn-block"
           ng-click="model.updateWidget(model.widgetId)">
            Update</a>
        <a class="btn btn-danger btn-block"
           ng-click="model.deleteWidget(model.widgetId)">
            Delete</a>
    </div>
</div>


</body>
</html>