<label for="name">Name</label>
<input type="text"
       class="form-control"
       id="name"
       ng-model="model.post.name">
<label for="text">Text</label>
<input type="text"
       class="form-control"
       id="text"
       ng-model="model.post.text">

<label for="size">Size</label>
<select ng-model="model.post.size" class="form-control" id="size" style="margin-bottom:10px">
    <option value="1">1 (Extra Large)</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6 (Extra Small)</option>
</select>
