
<label for="name">Name</label>
<input type="text"
       class="form-control"
       id="name"
       ng-model="model.post.name">
<label for="text">Text</label>
<input type="text"
       class="form-control"
       id="text"
       ng-model="model.post.text">
<label for="url">URL</label>
<input type="url"
       class="form-control"
       id="url"
       ng-model="model.post.url">
<label for="width">Width</label>
<input type="text"
       class="form-control"
       id="width"
       ng-model="model.post.width">



<label for="flickr">Flickr Search</label>
<a id="flickr"
   class="btn btn-info btn-block"
   href="#!/user/{{model.userId}}/post/{{model.postId}}/flickr/search">
    Search
</a>


<label>Image Upload</label>
<form action="/api/post/upload"   method="post" enctype="multipart/form-data">
    <input  name="myFile"    type="file" class="form-control"/>
    <input  name="width"     value="{{model.post.width}}" style="display: none"/>
    <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
    <input  name="postId"  value="{{model.postId}}"   style="display: none"/>
    <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
</form>
<br>


</body>
